<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item btn-group" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle"
           aria-controls="dropdown-basic" routerLink="/teacher" routerLinkActive="active">
          Teacher <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" routerLink="/teacher/exam-create" routerLinkActive="active">exam-create</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/teacher/exam-liste" routerLinkActive="active">exam-list</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/teacher/exam-download" routerLinkActive="active">exam-download</a></li>
        </ul>
      </li>

      <li class="nav-item btn-group" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle"
           aria-controls="dropdown-basic" routerLink="/teacher" routerLinkActive="active">
          Student <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" routerLink="/student/exam-download" routerLinkActive="active">student-download</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/student/exam-upload" routerLinkActive="active">student-upload</a></li>
        </ul>
      </li>

      <li class="nav-item btn-group" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle"
           aria-controls="dropdown-basic" routerLink="/teacher" routerLinkActive="active">
          Admin <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" routerLink="/admin/role" routerLinkActive="active">role</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/admin/user" routerLinkActive="active">user</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student" routerLinkActive="active">{{'Cart' | translate}}</a>
      </li>
      <li class="nav-item btn-group" dropdown>
        <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle"
           aria-controls="dropdown-basic" routerLink="/admin" routerLinkActive="active">
          Auth <span class="caret"></span>
        </a>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" routerLink="/admin" routerLinkActive="active">Login</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
