<input [(ngModel)]="book"><button (click)="addBook()">Add Book</button>

<br>
<a routerLink="/admin/user">Link to admin user</a>
<br>
<a routerLink="/admin/role">Link to admin role</a>
<br>


<a routerLink="/teacher/exam-create">Link to teacher exam-create</a>
<br>

<a routerLink="/teacher/exam-liste">Link to teacher exam-list</a>
<br>

<a routerLink="/teacher/exam-download">Link to teacher exam-download</a>
<br>

<a routerLink="/student/exam-download">Link to student exam-download</a>
<br>

<a routerLink="/student/exam-upload">Link to student exam-upload</a>
<br>

<a (click)="addBook()">AddBook</a>


<p *ngIf="user != null">
  {{user.name}} {{user.role.toString()}} {{user.id}}
</p>

<ul>
  <li *ngFor="let b of books()">{{b}}</li>
</ul>
