<br>
<h2>Prüfung erstellen</h2>
<form>
  <div class="form-group">
    <label for="new_exam_name">Name der Prüfung: </label>
    <input type="text" class="form-control" id="new_exam_name" aria-describedby="emailHelp" placeholder="Prüfungsname eingeben">
    <label for="file">Datei anhängen: </label>
    <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
    <!--<input type="file" name="photo" ng2FileSelect [uploader]="uploader">-->
  </div>
  <button type="submit" class="btn btn-primary" (click)="uploader.uploadAll()"
  >Erstellen</button>
</form>
